body {
    margin: 0; /* Prevents unwanted white space around the edges */
    width: 1920px;
    height: 1080px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 106px;
    background-color: #FFFFFF;
}

#nav_bar {
    display: flex;
    align-items: center; /* Vertically centers the text with the future icon */
    /* gap: 15px;           Space between the text and the future icon */
    padding-top: 32px;
    padding-left: 246px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* This container holds the two lines of text */
.logo-text {
    line-height: 1.1;    /* Adjusts vertical spacing between the words */
}

/* Forces the spans to stack on top of each other */
.logo-text span {
    display: block; 
}

.logo-top {
    color: #82A70C;
    font-size: 22px; /* Adjust as needed */
}

.logo-bottom {
    color: #42515F;
    font-size: 22px; /* Adjust as needed */
}
/* Placeholder Icon Styling */
.logo-icon {
    width: 50px;
    height: 40px;
    background-color: #82A70C; /* Using  green color */
    border-radius: 4px;        /* Slightly rounded corners */
}