* {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  overflow-y: visible;
}

body {
  font-family: sans-serif;
}

#landing {
  z-index: 1;
}

#homeVideo {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
}

#header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin-top: 3vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
  height: 10vh;
  width: 100vw;
  font-weight: 500;
}

#options {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  margin-right: 10vw;
}

#header_logo {
  cursor: pointer;
  color: white;
  fill: white;
  display: flex;
  align-self: flex-start;
  height: 4vh;
  width: 10vw;
}

#aboutDLC {
  align-self: flex-end;
  text-shadow: 1px 1px black;
  color: white;
  text-decoration: none;
}

#ourWorlds {
  align-self: flex-end;
  text-shadow: 1px 1px black;
  color: white;
  text-decoration: none;
}

#gallery {
  align-self: flex-end;
  text-shadow: 1px 1px black;
  color: white;
  text-decoration: none;
}

#centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 6em;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


#heading_below_header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

#text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  width: 60%;
  text-align: center;
  font-weight: 400;
  font-family: sans-serif;
}

#Exclusive {
  display: flex;
  width: 100%;
  height: 120vh;
}

#col_left {
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/*exclusive - column - left - text- box*/
#ex_cl_tbox {
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 30vw;
  margin-top: 35vh;
  margin-left: 10vw;
  background-color: white;
}

#ex_cl_tbox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 30vw;
  margin-top: 20vh;
  margin-left: 5vw;
  background-color: white;
}

#ex_img {
  width: 100%;
  height: 100%;
}

#ex_heading {
  font-size: 2em;
}

#ex_text {
  margin-top: 2vh;
  font-size: 1.25em;
  font-weight: 400;
  color: rgb(154, 154, 154)
}

#col_right {
  width: 50%;
  height: 100%;
}

#golf {
  display: flex;
  width: 100%;
  height: 140vh;
  background-color: rgb(242, 243, 242);
  position: relative;
  overflow: hidden;
}

#golf_left_bg_video {
  position: absolute;
  display: flex;
  margin-top: 20vh;
  width: 70%;
  height: 100vh;
  z-index: 1;
}

#golf_left_bg_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#left_card {
  position: relative;
  z-index: 2;
  width: 70vh;
  height: 70vh;
  background-color: white;
  margin-left: 50vw;
  margin-top: 37vh;
}

#left_card_heading{
  font-size: 2em;
  font-weight: 400;
  font-family: sans-serif;
  margin-left: 5vw;
  margin-top: 15vh;
}

#left_card_text{
  font-size: 1.1em;
  font-weight: 400;
  font-family: sans-serif;
  margin-left: 5vw;
  line-height: 1.5;
  margin-top: 5vh;
  color: rgb(154, 154, 154);
}

#left_card1{
  position: relative;
  z-index: 2;
  width: 70vh;
  height: 80vh;
  background-color: white;
  margin-left: 50vw;
  margin-top: 37vh;
}

#left_card_heading1{
  font-size: 2em;
  font-weight: 400;
  font-family: sans-serif;
  margin-left: 5vw;
  margin-top: 15vh;
}

#left_card_text1{
  font-size: 1em;
  font-weight: 400;
  font-family: sans-serif;
  margin-left: 5vw;
  line-height: 1.5;
  margin-top: 3vh;
  color: rgb(154, 154, 154);
}

#outdoor {
  display: flex;
  width: 100%;
  height: 140vh;
  background-color: rgb(242, 243, 242);
  position: relative;
  overflow: hidden;
}

#outdoor_right_bg_video {
  position: absolute;
  display: flex;
  margin-top: 20vh;
  margin-left: 65vh;
  width: 70%;
  height: 100vh;
  background-color: rgb(242, 243, 242);
  z-index: 1;
}

#outdoor_right_bg_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#right_card {
  position: relative;
  z-index: 2;
  width: 70vh;
  height: 70vh;
  background-color: white;
  margin-left: 15vw;
  margin-top: 37vh;
}

#right_card_heading{
  font-size: 2em;
  font-weight: 400;
  font-family: sans-serif;
  margin-left: 5vw;
  margin-top: 15vh;
}

#right_card_text{
  font-size: 1.1em;
  font-weight: 400;
  font-family: sans-serif;
  margin-left: 5vw;
  line-height: 1.5;
  margin-top: 5vh;
  color: rgb(154, 154, 154);
}

#wellness {
  display: flex;
  width: 100%;
  height: 120vh;
  background-color: rgb(242, 243, 242);
}

#culinary {
  display: flex;
  width: 100%;
  height: 120vh;
  background-color: rgb(242, 243, 242);
}

#discovery {
  display: flex;
  width: 100%;
  height: 120vh;
  background-color: rgb(242, 243, 242);
}

#footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 70vh;
  background-color: black;
  color: white;
}

#footer_upper {
  display: flex;
  height: 60vh;
  width: 100%;
  margin: 5px;
}

#getInTouch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20%;
  margin-top: 15vh;
  background-color: black;
  color: white;
}

#footer_logo_mark {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 35%;
  background-color: black;
  margin-top: 15vh;
  margin-left: 5vh;
}

#heading_1 {
  color: rgb(154, 154, 154);
  justify-content: center;
  align-self: flex-start;
  margin-bottom: 1vh;
  font-weight: 500;

}

#number {
  justify-content: center;
  align-self: flex-start;
  font-size: 1.25em;
  margin-bottom: 1vh;
  font-weight: 500;
  text-decoration: underline;
}

#realEstate {
  color: rgb(154, 154, 154);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 3vh;
  margin-bottom: 1vh;
  background-color: black;
  font-weight: 500;
}

#email {
  margin-top: 2vh;
  text-decoration: underline;
  margin-bottom: 1vh;
  font-weight: 500;
  font-size: 1.25em;
}

#secondLastColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20%;
  margin-top: 15vh;
  padding-left: 10vh;
  background-color: black;
  color: white;
}

#secondLastColumn_about {
  margin-bottom: 1vh;
  font-weight: 500;
  font-size: 1.25em;
}

#secondLastColumn_ourWorlds {
  margin-bottom: 1vh;
  font-weight: 500;
  font-size: 1.25em;
}

#secondLastColumn_realEstate {
  margin-bottom: 1vh;
  font-weight: 500;
  font-size: 1.25em;
}

#secondLastColumn_exp {
  margin-bottom: 1vh;
  font-weight: 500;
  font-size: 1.25em;
}

#secondLastColumn_gallery {
  margin-bottom: 1vh;
  font-weight: 500;
  font-size: 1.25em;
}

#footer_lower {
  color: rgb(154, 154, 154);
  font-size: 1.25em;
  display: flex;
  justify-content: space-between;
}

#footer_lower_left {
  display: flex;
  margin-left: 5%;
}

#footer_lower_right {
  display: flex;
  margin-right: 5%;
}